@charset "utf-8";

/*共通設定*/
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.05em;
}

img {
  max-width: 100%;
}

.wrap {
  overflow: hidden;
  max-width: 599px;
  width: 100%;
  margin: 0 auto;
}
/*終わり*/

.btn-area{ 
  text-align: center;
}

/*本文*/

body {
  margin: 0px;
  background-color: #FFEEF2;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 10px auto;
  text-align: center;
  padding: 5px;

}

h1 {
  font-size: 35px;
  line-height: 1.6;
  font-weight: bold;
}


.footer {
  background:#F9678A;
  color: white;
  text-align: center;
  padding: 10px 5px;
}

.footer .copyright{
  font-size: 5px;
  margin-bottom: 10px;
}
.footer-links{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;/*スマホ対応で折り返し*/

}
.footer-links a{
  color: white;
  text-decoration: none;
  font-size: 10px;
  transition: opacity 0.3s ease;
}

.footer-links a:hover {
  opacity: 0.7;
}
.footer > p{
  font-size: 10px;
  margin: 10px;
}
/*タブレット*/
@media (max-width: 1024px) {
  /*共通設定*/
  /*終わり*/
  
  /*<header class="header">*/
  /*終わり*/
  }
  /*スマホ*/
  @media (max-width: 599px) {
  /*共通設定*/
  /*終わり*/
  }
  